@import "./utils/_mixin" ;
@import "./utils/_variables" ;
@import "./utils/_keyframes";


body
{
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.loader
{  
  z-index: 5;
  transform: translateZ(1px);
  position: fixed;    
  @include flexcentercenter;
  background-color: $color-li;
  width: 100%;
  height: 100%;
  animation: loader 2s forwards;
  &__anim
    {      
    display: inline-block;    
    width: 20vw;
    height: 20vh;
    margin: 8px;
    border-radius: 50%;
    background: $background-button;
    @include animation;    
    }   
}
  
#logo, h1, h2, h3
{
  font-family: 'Shrikhand', sans-serif;
}

h1
{
  @include flexcentercenter;
  @media (min-width: 992px){
    height: 150px;
  }
  #logo
  {    
    width: 200px;    
    @media (min-width: 992px) {
      width: 450px;             
    }
  }
}

/* location */
#location
{  
  @include flexcentercenter;
  background-color: $background-location;
  @media (min-width: 992px) {     
    height: 150px;       
  }
  .fa-map-marker-alt
  {
    @include flexcentercenter;
    font-size: 22px;      
    padding-right: 20px;
    @media (min-width: 992px) {        
      font-size: 43px;        
    }      
  }
  p
  { 
    font-size: 20px;    
    padding-top: 5px;
    @media (min-width: 992px) {        
      font-size: 35px;        
    }            
  } 
}

/* reserve */
#reserve
{
  @include flexcentercenter;
  flex-direction: column;
  padding: 0 40px 0 40px;    
  background-color: $background;  
  @media (min-width: 992px) {        
    height: 350px;
    margin-bottom: 80px;        
  }   
  &__title
  {      
    margin: 40px 10px 10px 10px;
    font-weight: bold;      
    text-align: center;
    font-size: 25px;
    @media (min-width: 992px) {        
      margin: 20px 10px 10px 10px;        
      font-size: 35px;        
    }
  }
  &__text
  {
    text-align: center;
    font-size: 21px;
    margin: 5px 10px 20px 10px;
    @media (min-width: 992px) {                
      font-size: 35px;
    }     
  }
  button
  {
    @include button(40px, 270px, 18px, 45px);    
    margin: 10px 0 70px 0;
    @include active;    
    @media (min-width: 992px){
      @include button(40px, 420px, 28px, 75px);
      @include hover;      
    }    
  }      
}   

/* function */
#function
{
  display: flex;
  flex-direction: column;
  @media (min-width:992px){
    margin: 40px 0 80px 0;
    align-items: center;
  }
  &__contener
  {
    @media (min-width:992px){
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding-bottom: 40px;
    }      
  }
  &__title
  {
    margin: 40px 0 20px 20px;
    @media (min-width:992px){
      margin: 20px 0 70px 20px;
      font-size: 35px;
    }
  }
  .choice
  {
    @include button(15px, 85%, 17px, 55px);   
    background: $background;
    color: $color-link;    
    margin: 10px 40px 20px 40px;    
    @include f-ca;
    justify-content: flex-start;    
    cursor: pointer;    
    @include box($color-text);
    &:active
    {      
      background-color: $color-choice;          
    }
    @media (min-width:992px){
      margin: 10px 20px 10px 20px;             
      width: 30%;     
      height: 75px;
      &:hover
      {      
        background-color: $color-choice;
      }
    }   
      &__number
      {
        background-color: $color-primary;
        border-radius: 40px;
        width: 25px;
        height: 25px;
        margin:0 10px 0 -15px;
        color: $color-li;
        @include flexcentercenter;
        @media (min-width:992px){
          width: 55px;
          height: 55px;
          margin:0 10px 0 -25px;
          font-size: 20px;
        }
      }
      &__text
      {
        @include f-ca;
        font-weight: bold;
        @media (min-width:992px){
          font-size: 25px;
        }
      }
      .fa-mobile-alt
      {
        @include icone;
        &:active
        {
          color: $color-primary;
        }
        @media (min-width:992px){
          margin: 0 60px 0 30px;
          font-size: 35px;
          &:hover
          {
            color: $color-primary;
          }
        }
      }
      
      .fa-list-ul
      {
        @include icone;
        &:active
        {
          color: $color-primary;
        }
        @media (min-width:992px){
          margin: 0 60px 0 30px;
          font-size: 35px;
          &:hover
          {
            color: $color-primary;
          }
        }
      }
      
      .fa-store
      {
        @include icone;
        &:active
        {
          color: $color-primary;        
        }      
        @media (min-width:992px){
          margin: 0 60px 0 30px;
          font-size: 35px;
          &:hover
          {
            color: $color-primary;
          }
        }
      }        
  } 
}

/* restaurant */
#restaurant
{
  display: flex;
  flex-direction: column;
  background-color: $background;
  margin: 60px 0 0 0 ;
  padding: 0 0 70px 0;
  h2
  {
    margin: 40px 0 10px 20px;
    @media (min-width:992px){
      margin: 40px 0 50px 90px;
      display: flex;
      justify-content: flex-start;
      font-size: 45px;
    }
  }
  &__contener
  {
    @media (min-width:992px){
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
    }
  }    
  .visual
  {
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    background-color: $color-li; 
    margin: 10px 20px 30px 20px;
    color: $color-link;
    text-decoration: none;
    
    @include box($color-text);
    @media (min-width:992px){
      justify-content: space-around;
      width: 40%;
      margin: 10px 20px 50px 20px;
      position: relative;
    }
    &__picture
    {
      object-fit: cover;
      border-radius: 20px 20px 0 0 ;
      height: 250px;
      
    }
    &__text
    {
      z-index: 0;      
      background-color: $color-tertiary;      
      padding: 8px 15px 8px 15px;
      color: $color-new;
      font-weight: bold;
      right: 40px;
      position: absolute;        
      @media (min-width:992px){        
        top: 10px;
      }
    }
    &__contener
    {
      display: flex;
      justify-content: space-between;
    }
    &__detail
    {
      display: flex;  
      flex-direction: column;
      margin: 0 0 0 20px;
      font-size: 20px;
      .visual__title
      {
        margin: 20px 0 0 0;
        font-weight: bold;        
        @media (min-width:992px){
          font-size: 25px;
        }
      }     
      .visual__location
      {
        margin: 5px 0 20px 0;
        @media (min-width:992px){
          font-size: 25px;
        }
      }   
    }         
    .fa-heart
    {
      font-size: 35px;
      @include flexcentercenter;
      width: 80px;
      height: 60px;      
      color: $color-li;
      text-shadow: 0px 0px 0px $color-link;
      transform: scale(1);
      &:active
      {        
        color: $color-primary;         
        text-shadow: none;
        animation: heart 1s ease-in-out backwards;
      }            
      @media (min-width:992px){
        height: 100%;
        border-radius: 0 0 20px 0;
        &:hover
        {        
          color: $color-primary;         
          text-shadow: none;
          animation: heart 1s ease-in-out backwards;
        } 
      }     
    }  
  }
}

/* footer */
footer
{
  background-color:$background-footer;
  margin: 0;
  @media (min-width:992px){
    padding: 40px 0 40px 0;
  }
  h2
  {
    padding: 20px 0 20px 20px;
    color: $color-li;
    font-style: italic;
    margin: 0;
    @media (min-width:992px){
      display: flex;
      justify-content: center;
      font-size: 40px;
      padding: 20px 0 40px 20px;
    }
  }
  ul
  {
    padding: 0 0 60px 20px;
    list-style-type: none;
    margin: 0;
    @media (min-width:992px){
      display: flex;
      justify-content: space-around;
      font-size: 30px;
      padding: 20px 0 40px 20px;
    }
    li
    {
      color: $color-li;
      margin: 10px 0 0 0;
    }
    .contact
    {
      color:$color-li;
      text-decoration: none;
    }    
    .fa-utensils
    {
      padding: 0 15px 0 0;
    }    
    .fa-handshake-angle
    {
      padding: 0 10px 0 0;
    }
  }  
}