@media (max-width: 740px) {

    body
    {
      margin:0;
    }
    
    #logo, h1, h2, h3
    {
      font-family: 'Shrikhand', sans-serif;
    }
    
    a:link
    {
      color: black;
      text-decoration: none;
    }
    
    a:hover .fa-heart
    {
      color: #FF79DA;
    }
    
    /* header */
    
    header 
    {
      display: flex;
      height: 60px;
      align-items: center;  
      justify-content: flex-start;
    }
    
    .header-link
    {
      display: flex;
      align-items: center;
    }
    
    .fa-arrow-left
    {
      padding-left: 20px;
      color: grey;
    }
    
    #logo
    {   
      height: 35px;
      padding-left: 80px;
      
    }
    
    /* picture */
    
    #picture
    {
      display: flex;
      flex-direction: column;
    }
    
    .picture__position
    {
      object-fit: cover;
      height: 280px; 
      position: relative;      
    }
    
    /* contener */
    
    #contener
    {
      display: flex;
      flex-direction: column;
      border-radius: 40px 40px 0 0;
      background-color: #ECE9F9;
      z-index: 0;
      top: -35px;
      position:relative; 
    }
    
    #presentation
    {
      display: flex;
      justify-content: space-between;
    }
    
    #presentation h1
    {
      margin: 40px 0 0 20px;
      font-style: italic;
      font-weight: bold;
      font-size: 28px;
    }
    
    .fa-heart
    {
      margin: 40px 40px 0 0;
      font-size: 30px;
      color: grey;
    }
    
    #contener h2
    {
      color: grey;
      margin: 40px 0 10px 20px ;
      font-size: 18px;  
      text-decoration: rgb(176, 231, 176) underline 4px;
      text-underline-offset: 8px;
      text-decoration-thickness: 2px;
      
    }
    
    .food
    {
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      background-color: white;
      margin: 15px 20px 0 20px;
    }
    
    .menu
    {
      margin: 0 0 0 10px;
      .h3
        {
        margin: 15px 0 0 0;
        }    
        .p
        {
        margin: 8px 0 15px 0;
        color: grey;
        }    
    }
    
    
    .price
    {
      display: flex;
      align-items: flex-end;
      margin: 0 20px 15px 0;
      font-weight: bold;
    }
    
    .pay
    {
      display: flex;
      .a
      {
        background-color: rgb(176, 231, 176);
        display: flex;
        align-items: center;
        width: 70px;
        border-radius: 0 20px 20px 0;
      }
      
    }
    
   
    .fa-check 
    {
      width: 50px;
      display: flex;
      font-size: 15px;
      font-weight: bold;
      justify-content: center;
      color: rgb(176, 231, 176);
      background-color: white;
      border-radius: 40px;
      height: 30px;
      width: 30px;
      align-items: center;
      margin: 18px;  
    }
    
    
    button
    {
      color: white;
      background-color: #FF79DA;  
      border-radius: 40px;
      font-size: 15px;
      height: 40px;
      margin: 40px 140px 60px 140px;
    }
    
    /* footer */
    
    footer
    {
      background-color: #3b3b3b;
      margin: 0;
    }
    
    footer h2
    {
      padding: 20px 0 20px 20px;
      color: white;
      font-style: italic;
      margin: 0;
    }
    
    ul
    {
     padding: 0 0 60px 20px;
     list-style-type: none;
     li
     {
       color: white;
       margin: 10px 0 0 0;
     }
    }    
    
    .fa-utensils.fa-handshake-angle
    {
     padding: 0 15px 0 0;
    }    
  }