@import "./utils/_mixin" ;
@import "./utils/_variables" ;
@import "./utils/_keyframes";

body
{
  margin:0;
  font-family: 'Roboto', sans-serif;
}

#logo, h1, h2, h3
{
  font-family: 'Shrikhand', sans-serif;
}

a:link
{
  color: $color-link;
  text-decoration: none;
}

/* header */
header
{
  display: flex;
  align-items: center;
  justify-content: center;  
  h1
  {  
    @include f-ca;       
    margin: 20px 0 20px 0;    
    a
    {
      display: flex;
      align-items: center;           
      .fa-arrow-left
      {      
        color: $color-text;
        font-size: 25px;
        position: absolute;
        left: 0;
        margin-left: 20px;        
        @media (min-width:992px)
        {              
          font-size: 50px;
          margin-left: 40px;        
        }   
      }        
    }    
    #header__logo
    { 
      @include flexcentercenter;      
      height: 35px;           
      @media (min-width:992px){
        height: 70px;
      }
    }   
  }
}

/* contener */
#presentation
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  @media (min-width:992px){
    background-color: $background ;
  }
  
  #contener
  {
    width: 100%;
    @media (min-width:992px){
      @include flexcentercenter;
      flex-direction: column;
    }    
    &__header
    {
      display: flex;
      flex-direction: column;
      @media (min-width:992px){
        align-items: center;
        justify-content: center;        
        margin: 40px 0 40px 0;
      }              
    }
    &__title
    {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $background;
      border-radius: 40px 40px 0 0;
      margin-top: -35px;
      @media (min-width:992px){
        margin-top: 10px;
        justify-content: space-around;
        width: 100%;
        border-radius: 0;
      }            
      h1
      {          
        font-style: italic;
        font-weight: bold;
        font-size: 25px;     
        padding-left: 20px;
        @media (min-width:992px){
          font-size: 40px;
          padding: 0;
        }
      }
      .fa-heart
      {     
        font-size: 25px;     
        @include flexcentercenter;
        width: 80px;
        height: 60px;      
        color: $background;
        text-shadow: 0px 0px 0px $color-link;       
        transition: all 0.2s ease-in-out;       
        @media (min-width:992px){
          font-size: 45px;
          padding: 0;
        }
        &:active
        { animation: heart 1s ease-in-out ;                
          color: $color-primary;        
          text-shadow: none; 
        }            
        @media (min-width:992px){
          height: 100%;
          border-radius: 0 0 20px 0;
          &:hover
          { 
            animation: heart 1s ease-in-out;                
            color: $color-primary;        
            text-shadow: none;         
          }            
        }     
      }
    }    
    #picture
    {
      display: flex;     
      &__position
      {
        object-fit: cover;
        height: 250px;
        width:100%;
        @media (min-width:992px){
          width: 850px;
          height: 450px;      
          border-radius: 40px;          
          @include box($color-text)
        }         
      }
    } 
  }

  .card
  {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $background;
    @media (min-width:992px){
      flex-direction:row;
      justify-content: space-around;
      width: 85%;
            
    }
    &__style
      {
        display: flex;
        flex-direction: column;        
        @media (min-width:992px){
          width: 40%;
        }          
        h2
        {
        color: $color-text;
        margin: 40px 0 10px 20px ;
        font-size: 18px;  
        
        @media (min-width:992px){
          font-size: 28px;
        }      
        }
        .under-title
        {
          background-color: $color-check;
          width: 45px;
          height: 2px;
          margin-left:20px;
        }
        .food
        {
          display: flex;
          justify-content: space-between;
          border-radius: 20px;
          background-color: $color-li;
          margin: 15px 30px 0 30px;
          font-size: 14px;          
          animation: slider 0.4s ease-in-out backwards;
          overflow: hidden;
          &:active .pay__link
          {
            margin-right: 0px;
          }
          &:active .fa-check
          {              
            transform: rotate(360deg);                  
          }                               
          @media (min-width:992px) {
            margin: 15px 20px 0 20px;
            font-size: 16px;
            &:hover .pay__link
            {
              margin-right: 0px;
            }
            &:hover .fa-check
            {              
              transform: rotate(360deg);                  
            }                                        
          }      
          .menu1     
          {            
            @include menu;
            animation: 0.6s ease-in-out menu;                                          
          }
          .menu2     
          {
            @include menu;
            animation: 0.6s ease-in-out 0.2s menu;        
          }
          .menu3     
          {
            @include menu;
            animation: 0.6s ease-in-out 0.4s menu;        
          }
          .pay
          {
            @include flexcentercenter;         
                                         
            &__price
            {        
              margin: 35px 20px 5px 0;
              font-weight: bold;
            }
            &__link
            {
              background-color: $color-check;
              @include flexcentercenter;             
              width: 70px;
              border-radius: 0 20px 20px 0;
              height: 100%;
              transition: all 0.4s ease-in-out;
              margin-right: -70px;                               
              .fa-check 
              {
                @include flexcentercenter;
                width: 50px;        
                font-size: 15px;
                font-weight: bold;        
                color: $color-check;
                background-color: $color-li;
                border-radius: 40px;
                height: 30px;
                width: 30px;        
                margin: 18px;                
                transition: all 0.6s ease-in-out;                                             
              }        
            }      
          }
        }
      }
  }  
  
  #selection
  {
    width: 100%;
    background-color: #ECE9F9;
    @include flexcentercenter;
    button
    {
     @include button(40px, 200px, 25px, 40px);      
      font-size: 15px;
      margin: 40px 0 70px 0;      
      @include box($color-text);
      @media (min-width:992px){
        @include button(40px, 380px, 30px, 60px)
      }
      &:active
      {
        opacity: 0.70;
        @include box($color-box); 
      }
      @media (min-width:992px){
        &:hover{
          opacity: 0.70;
        @include box($color-box);
        }
      }
    }
  }
}

/* footer */

footer
{
  background-color:$background-footer;
  margin: 0;
  @media (min-width:992px){
    padding: 40px 0 40px 0;
  }
  h2
  {
    padding: 20px 0 20px 20px;
    color: $color-li;
    font-style: italic;
    margin: 0;
    @media (min-width:992px){
      display: flex;
      justify-content: center;
      font-size: 40px;
      padding: 20px 0 40px 20px;
    }
  }
  ul
  {
    padding: 0 0 60px 20px;
    list-style-type: none;
    margin: 0;
    @media (min-width:992px){
      display: flex;
      justify-content: space-around;
      font-size: 30px;
      padding: 20px 0 40px 20px;
    }
    li
    {
      color: $color-li;
      margin: 10px 0 0 0;
    }
    .contact
    {
      color:$color-li;
      text-decoration: none;
    }    
    .fa-utensils
    {
      padding: 0 15px 0 0;
    }    
    .fa-handshake-angle
    {
      padding: 0 10px 0 0;
    }
  }  
}