@media (max-width:480px) {

body
{
  margin:0;
}

a:link
{
  color: black;
  text-decoration: none;
}

a:hover .fa-heart
{
  color: #FF79DA;
}

/* header */

header h1
{
  display: flex;
  justify-content: flex-start;
  font-style: italic;
}

.header-link
{
  display: flex;
  align-items: center;
}

.fa-arrow-left
{
  margin: 0 0 0 30px;  
  font-size: 20px;
}

#logo
{    
  width: 250px;
  margin: 0 0 0 40px;
}

/* picture */

#picture
{
  display: flex;
  flex-direction: column;
}

.food-picture
{
  object-fit: cover;       
}

/* contener */

#contener
{
  display: flex;
  flex-direction: column;
  border-radius: 40px 40px 0 0;
  background-color: #ECE9F9;  
}

#contener-title
{
  display: flex;
  justify-content: space-between;
}

.title-restaurant
{
  margin: 40px 0 0 20px;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}

.fa-heart
{
  margin: 40px 40px 0 0;
  font-size: 30px;
}

#contener h2
{
  color: grey;
  margin: 40px 0 10px 20px ;
  font-size: 18px;
  
}

.food
{
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: white;
  margin: 15px 20px 0 20px;
}

.menu
{
  margin: 0 0 0 10px;
}

.menu h3
{
  margin: 15px 0 0 0;
}

.menu p
{
  margin: 8px 0 15px 0;
  color: grey;
}

.price
{
  display: flex;
  align-items: flex-end;
  margin: 0 20px 20px 0;
  font-weight: bold;
}

button
{
  color: white;
  background-color: #FF79DA;  
  border-radius: 40px;
  font-size: 15px;
  height: 40px;
  margin: 40px 140px 60px 140px;
}

/* footer */

footer
{
  background-color: #3b3b3b;
  margin: 0;
}

footer h2
{
  padding: 20px 0 20px 20px;
  color: white;
  font-style: italic;
  margin: 0;
}

ul
{
 padding: 0 0 60px 20px;
 list-style-type: none;
}

li
{
  color: white;
  margin: 10px 0 0 0;
}

.fa-utensils
{
 padding: 0 15px 0 0;
}

.fa-handshake-angle
{
  padding: 0 15px 0 0;
}
}