@-webkit-keyframes menu {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menu {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loader {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes rotate-circle {}

@keyframes rotate-circle {}body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.loader {
  z-index: 5;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E2E2E2;
  -webkit-animation: loader 5s forwards;
          animation: loader 5s forwards;
}

.loader__anim {
  display: inline-block;
  width: 15vw;
  height: 10vh;
  margin: 8px;
  border-radius: 50%;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  -webkit-animation: lds-circle 4.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-circle 4.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#logo, h1, h2, h3 {
  font-family: 'Shrikhand', sans-serif;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  h1 {
    height: 150px;
  }
}

h1 #logo {
  width: 200px;
}

@media (min-width: 992px) {
  h1 #logo {
    width: 450px;
  }
}

/* location */
#location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #cccccc;
}

@media (min-width: 992px) {
  #location {
    height: 150px;
  }
}

#location .fa-map-marker-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  padding-right: 20px;
}

@media (min-width: 992px) {
  #location .fa-map-marker-alt {
    font-size: 43px;
  }
}

#location p {
  font-size: 20px;
  padding-top: 5px;
}

@media (min-width: 992px) {
  #location p {
    font-size: 35px;
  }
}

/* reserve */
#reserve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px 0 40px;
  background-color: #ECE9F9;
}

@media (min-width: 992px) {
  #reserve {
    height: 350px;
    margin-bottom: 80px;
  }
}

#reserve h2 {
  margin: 40px 10px 10px 10px;
  text-align: center;
}

@media (min-width: 992px) {
  #reserve h2 {
    margin: 20px 10px 10px 10px;
    font-size: 35px;
  }
}

#reserve p {
  text-align: center;
  margin: 5px 10px 20px 10px;
}

@media (min-width: 992px) {
  #reserve p {
    font-size: 35px;
  }
}

#reserve button {
  border-radius: 40px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  color: white;
  width: 270px;
  font-size: 18px;
  height: 45px;
  margin: 50px 0 50px 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
  cursor: pointer;
  margin: 10px 0 70px 0;
}

#reserve button:active {
  opacity: 0.70;
  -webkit-box-shadow: 5px 5px 5px #111111;
          box-shadow: 5px 5px 5px #111111;
}

@media (min-width: 992px) {
  #reserve button {
    border-radius: 40px;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    border: none;
    color: white;
    width: 420px;
    font-size: 28px;
    height: 75px;
    margin: 50px 0 50px 0;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    -webkit-box-shadow: 5px 5px 5px grey;
            box-shadow: 5px 5px 5px grey;
    cursor: pointer;
  }
  #reserve button:hover {
    opacity: 0.70;
    -webkit-box-shadow: 5px 5px 5px #111111;
            box-shadow: 5px 5px 5px #111111;
  }
}

/* function */
#function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  #function {
    margin: 40px 0 80px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  #function__contener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-bottom: 40px;
  }
}

#function__title {
  margin: 40px 0 20px 20px;
}

@media (min-width: 992px) {
  #function__title {
    margin: 20px 0 70px 20px;
    font-size: 35px;
  }
}

#function .choice {
  border-radius: 15px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  color: white;
  width: 85%;
  font-size: 17px;
  height: 55px;
  margin: 50px 0 50px 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
  cursor: pointer;
  background: #ECE9F9;
  color: black;
  margin: 10px 40px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  box-shadow: 5px 5px 5px grey;
}

#function .choice:active {
  background-color: #f6d8ee;
}

@media (min-width: 992px) {
  #function .choice {
    margin: 10px 20px 10px 20px;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    width: 30%;
    height: 75px;
  }
  #function .choice:hover {
    background-color: #f6d8ee;
  }
}

#function .choice__number {
  background-color: #9356DC;
  border-radius: 40px;
  width: 25px;
  height: 25px;
  margin: 0 10px 0 -15px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 992px) {
  #function .choice__number {
    width: 55px;
    height: 55px;
    margin: 0 10px 0 -25px;
    font-size: 20px;
  }
}

#function .choice__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

@media (min-width: 992px) {
  #function .choice__text {
    font-size: 25px;
  }
}

#function .choice .fa-mobile-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px 0 10px;
  color: grey;
  font-size: 25px;
}

#function .choice .fa-mobile-alt:active {
  color: #9356DC;
}

@media (min-width: 992px) {
  #function .choice .fa-mobile-alt {
    margin: 0 60px 0 30px;
    font-size: 35px;
  }
  #function .choice .fa-mobile-alt:hover {
    color: #9356DC;
  }
}

#function .choice .fa-list-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px 0 10px;
  color: grey;
  font-size: 25px;
}

#function .choice .fa-list-ul:active {
  color: #9356DC;
}

@media (min-width: 992px) {
  #function .choice .fa-list-ul {
    margin: 0 60px 0 30px;
    font-size: 35px;
  }
  #function .choice .fa-list-ul:hover {
    color: #9356DC;
  }
}

#function .choice .fa-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px 0 10px;
  color: grey;
  font-size: 25px;
}

#function .choice .fa-store:active {
  color: #9356DC;
}

@media (min-width: 992px) {
  #function .choice .fa-store {
    margin: 0 60px 0 30px;
    font-size: 35px;
  }
  #function .choice .fa-store:hover {
    color: #9356DC;
  }
}

/* restaurant */
#restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ECE9F9;
  margin: 60px 0 0 0;
  padding: 0 0 70px 0;
}

#restaurant h2 {
  margin: 40px 0 10px 20px;
}

@media (min-width: 992px) {
  #restaurant h2 {
    margin: 40px 0 50px 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 45px;
  }
}

@media (min-width: 992px) {
  #restaurant__contener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#restaurant .visual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin: 10px 20px 30px 20px;
  color: black;
  text-decoration: none;
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
}

@media (min-width: 992px) {
  #restaurant .visual {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 40%;
    margin: 10px 20px 50px 20px;
  }
}

#restaurant .visual__picture {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
  height: 250px;
  position: relative;
}

#restaurant .visual__text {
  z-index: 0;
  position: absolute;
  background-color: #99E2D0;
  padding: 8px 15px 8px 15px;
  color: #25997c;
  font-weight: bold;
}

@media (max-width: 992px) {
  #restaurant .visual__text {
    right: 40px;
  }
}

@media (min-width: 992px) {
  #restaurant .visual__text {
    margin: 0 0 80px 100px;
  }
}

#restaurant .visual__contener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurant .visual__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 20px;
}

#restaurant .visual__detail h3 {
  margin: 20px 0 0 0;
}

@media (min-width: 992px) {
  #restaurant .visual__detail h3 {
    font-size: 25px;
  }
}

#restaurant .visual__detail p {
  margin: 5px 0 20px 0;
}

@media (min-width: 992px) {
  #restaurant .visual__detail p {
    font-size: 25px;
  }
}

#restaurant .visual .fa-heart {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 60px;
  position: relative;
  background-color: white;
}

#restaurant .visual .fa-heart:hover {
  content: '';
  color: #9356DC;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9356DC;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (min-width: 992px) {
  #restaurant .visual .fa-heart {
    height: 100%;
    border-radius: 0 0 20px 0;
  }
}

/* footer */
footer {
  background-color: #3b3b3b;
  margin: 0;
}

@media (min-width: 992px) {
  footer {
    padding: 40px 0 40px 0;
  }
}

footer h2 {
  padding: 20px 0 20px 20px;
  color: white;
  font-style: italic;
  margin: 0;
}

@media (min-width: 992px) {
  footer h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40px;
    padding: 20px 0 40px 20px;
  }
}

footer ul {
  padding: 0 0 60px 20px;
  list-style-type: none;
  margin: 0;
}

@media (min-width: 992px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 30px;
    padding: 20px 0 40px 20px;
  }
}

footer ul li {
  color: white;
  margin: 10px 0 0 0;
}

footer ul .contact {
  color: white;
  text-decoration: none;
}

footer ul .fa-utensils {
  padding: 0 15px 0 0;
}

footer ul .fa-handshake-angle {
  padding: 0 10px 0 0;
}
/*# sourceMappingURL=accueil.css.map */