@-webkit-keyframes menu {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menu {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@keyframes lds-circle {
  0%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(1800deg);
            transform: rotateY(1800deg);
    -webkit-animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    -webkit-transform: rotateY(3600deg);
            transform: rotateY(3600deg);
  }
}

@-webkit-keyframes loader {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loader {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes rotate-circle {}

@keyframes rotate-circle {}body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#logo, h1, h2, h3 {
  font-family: 'Shrikhand', sans-serif;
}

a:link {
  color: black;
  text-decoration: none;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
}

header h1 .fa-arrow-left {
  color: grey;
  font-size: 25px;
}

@media (min-width: 992px) {
  header h1 .fa-arrow-left {
    font-size: 50px;
  }
}

header h1 #header__logo {
  margin-right: 80px;
  height: 35px;
}

@media (min-width: 992px) {
  header h1 #header__logo {
    height: 70px;
    margin-right: 650px;
  }
}

/* contener */
#presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

@media (min-width: 992px) {
  #presentation {
    background-color: #ECE9F9;
  }
}

#presentation #contener {
  width: 100%;
}

@media (min-width: 992px) {
  #presentation #contener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#presentation #contener__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  #presentation #contener__header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px 0 40px 0;
  }
}

#presentation #contener__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ECE9F9;
  border-radius: 40px 40px 0 0;
  margin-top: -35px;
}

@media (min-width: 992px) {
  #presentation #contener__title {
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

#presentation #contener__title h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
  padding-left: 20px;
}

@media (min-width: 992px) {
  #presentation #contener__title h1 {
    font-size: 40px;
    padding: 0;
  }
}

#presentation #contener__title .fa-heart {
  font-size: 25px;
  color: grey;
  padding-right: 40px;
  -webkit-transform: color;
          transform: color;
}

@media (min-width: 992px) {
  #presentation #contener__title .fa-heart {
    font-size: 45px;
    padding: 0;
  }
}

#presentation #contener__title .fa-heart:hover {
  background-color: #FF79DA;
  -webkit-transition: -webkit-transform 2000ms ease-out;
  transition: -webkit-transform 2000ms ease-out;
  transition: transform 2000ms ease-out;
  transition: transform 2000ms ease-out, -webkit-transform 2000ms ease-out;
}

#presentation #contener #picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#presentation #contener #picture__position {
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  width: 100%;
}

@media (min-width: 992px) {
  #presentation #contener #picture__position {
    width: 850px;
    height: 450px;
    border-radius: 40px;
    -webkit-box-shadow: 5px 5px 5px grey;
            box-shadow: 5px 5px 5px grey;
  }
}

#presentation .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #ECE9F9;
}

@media (min-width: 992px) {
  #presentation .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 85%;
  }
}

#presentation .card__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  #presentation .card__style {
    width: 40%;
  }
}

#presentation .card__style h2 {
  color: grey;
  margin: 40px 0 10px 20px;
  font-size: 18px;
  -webkit-text-decoration: #b0e7b0 underline 4px;
          text-decoration: #b0e7b0 underline 4px;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

@media (min-width: 992px) {
  #presentation .card__style h2 {
    font-size: 28px;
  }
}

#presentation .card__style .food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  background-color: white;
  margin: 15px 30px 0 30px;
  font-size: 15px;
}

@media (min-width: 992px) {
  #presentation .card__style .food {
    margin: 15px 20px 0 20px;
    height: 100px;
    font-size: 20px;
  }
}

#presentation .card__style .food .menu1 {
  width: 100%;
  margin: 0 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  -webkit-animation: 0.6s ease-in-out menu;
          animation: 0.6s ease-in-out menu;
}

#presentation .card__style .food .menu1 h3 {
  margin: 15px 0 0 0;
}

#presentation .card__style .food .menu1 p {
  margin: 8px 0 15px 0;
  color: grey;
}

#presentation .card__style .food .menu2 {
  width: 100%;
  margin: 0 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  -webkit-animation: 0.6s ease-in-out 0.2s menu;
          animation: 0.6s ease-in-out 0.2s menu;
}

#presentation .card__style .food .menu2 h3 {
  margin: 15px 0 0 0;
}

#presentation .card__style .food .menu2 p {
  margin: 8px 0 15px 0;
  color: grey;
}

#presentation .card__style .food .menu3 {
  width: 100%;
  margin: 0 0 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  -webkit-animation: 0.6s ease-in-out 0.4s menu;
          animation: 0.6s ease-in-out 0.4s menu;
}

#presentation .card__style .food .menu3 h3 {
  margin: 15px 0 0 0;
}

#presentation .card__style .food .menu3 p {
  margin: 8px 0 15px 0;
  color: grey;
}

#presentation .card__style .food .pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#presentation .card__style .food .pay__price {
  margin: 35px 20px 5px 0;
  font-weight: bold;
}

#presentation .card__style .food .pay__link {
  background-color: #b0e7b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  border-radius: 0 20px 20px 0;
  height: 100%;
}

#presentation .card__style .food .pay__link .fa-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  font-size: 15px;
  font-weight: bold;
  color: #b0e7b0;
  background-color: white;
  border-radius: 40px;
  height: 30px;
  width: 30px;
  margin: 18px;
}

#presentation #selection {
  width: 100%;
  background-color: #ECE9F9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#presentation #selection button {
  border-radius: 40px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  color: white;
  width: 200px;
  font-size: 25px;
  height: 40px;
  margin: 50px 0 50px 0;
  -webkit-transition: all 400ms;
  transition: all 400ms;
  -webkit-box-shadow: 5px 5px 5px grey;
          box-shadow: 5px 5px 5px grey;
  cursor: pointer;
  font-size: 15px;
  margin: 40px 0 70px 0;
  box-shadow: 5px 5px 5px grey;
}

@media (min-width: 992px) {
  #presentation #selection button {
    border-radius: 40px;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    border: none;
    color: white;
    width: 380px;
    font-size: 30px;
    height: 60px;
    margin: 50px 0 50px 0;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    -webkit-box-shadow: 5px 5px 5px grey;
            box-shadow: 5px 5px 5px grey;
    cursor: pointer;
  }
}

#presentation #selection button:active {
  opacity: 0.70;
  -webkit-box-shadow: 5px 5px 5px #111111;
          box-shadow: 5px 5px 5px #111111;
}

@media (min-width: 992px) {
  #presentation #selection button:hover {
    opacity: 0.70;
    -webkit-box-shadow: 5px 5px 5px #111111;
            box-shadow: 5px 5px 5px #111111;
  }
}

/* footer */
footer {
  background-color: #3b3b3b;
  margin: 0;
}

@media (min-width: 992px) {
  footer {
    padding: 40px 0 40px 0;
  }
}

footer h2 {
  padding: 20px 0 20px 20px;
  color: white;
  font-style: italic;
  margin: 0;
}

@media (min-width: 992px) {
  footer h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40px;
    padding: 20px 0 40px 20px;
  }
}

footer ul {
  padding: 0 0 60px 20px;
  list-style-type: none;
  margin: 0;
}

@media (min-width: 992px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 30px;
    padding: 20px 0 40px 20px;
  }
}

footer ul li {
  color: white;
  margin: 10px 0 0 0;
}

footer ul .contact {
  color: white;
  text-decoration: none;
}

footer ul .fa-utensils {
  padding: 0 15px 0 0;
}

footer ul .fa-handshake-angle {
  padding: 0 10px 0 0;
}
/*# sourceMappingURL=menu.css.map */