@mixin flexcentercenter {
    display: flex;  
    align-items: center;
    justify-content: center;    
}

@mixin f-ca {
    display: flex;
    align-items: center;
}

@mixin button($border, $fov, $size, $height) {
    border-radius: $border;
    background: $background-button;
    border: none;  
    color: $color-li;
    width: $fov;
    font-size: $size;
    height: $height;
    margin: 50px 0 50px 0;
    transition: all 400ms;
    @include box($color-text);
    cursor: pointer;   
}

@mixin hover {
    &:hover
    {
        opacity: 0.70;
        @include box(rgb(17, 17, 17)); 
    }    
}

@mixin active {
    &:active
    {
        opacity: 0.70;
        @include box(rgb(17, 17, 17)); 
    }    
}

@mixin box ($color){
    box-shadow: 5px 5px 5px $color;  
}

@mixin icone {
    @include flexcentercenter;
    margin: 0 30px 0 10px;
    color: $color-text;
    font-size: 25px;            
}

@mixin icone-mobile {
    margin: 0 40px 0 10px;    
}

@mixin menu {    
    font-size: 14px;
    margin: 0 0 0 10px;
    overflow: hidden;
    font-size: 18px;    
    .food__title
    {
        margin: 15px 0 0 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;        
    }    
    .food__text
    {
        margin: 8px 0 15px 0;
        color: $color-text;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;        
    } 
}

@mixin animation {
    animation: lds-circle 4.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
