@mixin flexcentercenter {
    display: flex;  
    align-items: center;
    justify-content: center;    
}

@mixin f-ca {
    display: flex;
    align-items: center;
}

@mixin button($border, $fov, $size, $height) {
    border-radius: $border;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    border: none;  
    color: white;
    width: $fov;
    font-size: $size;
    height: $height;
    margin: 50px 0 50px 0;
    transition: all 400ms;
    @include box($color-text);
    cursor: pointer;    
}

@mixin hover {
    &:hover
    {
        opacity: 0.70;
        @include box(rgb(17, 17, 17)); 
    }    
}

@mixin active {
    &:active
    {
        opacity: 0.70;
        @include box(rgb(17, 17, 17)); 
    }    
}

@mixin box ($color){
    box-shadow: 5px 5px 5px $color;  
}

@mixin icone {
    @include flexcentercenter;
    margin: 0 30px 0 10px;
    color: $color-text;
    font-size: 25px;            
}

@mixin icone-mobile {
    margin: 0 40px 0 10px;    
}

@mixin menu {    
    font-size: 14px;
    margin: 0 0 0 10px;
    flex-wrap: nowrap;    
    h3
    {
    margin: 15px 0 0 0;
    text-overflow: ellipsis;
    overflow: hidden;        
    }    
    p
    {
    margin: 8px 0 15px 0;
    color: $color-text;
    text-overflow: ellipsis;
    overflow: hidden;    
    } 
}

