$color-primary : #9356DC ;
$color-secondary :#FF79DA ;
$color-tertiary :#99E2D0 ;
$color-text: grey;
$color-link: black;
$color-box: rgb(17, 17, 17);
$color-li: white; 
$color-check: #99e2d0;
$color-loader: #E2E2E2;
$color-choice: #f6d8ee;
$color-new:  #25997c;


$background-footer: #323232;
$background: #f6f6f6;
$background-location: #ebebeb; 
$background-button:linear-gradient(170deg, $color-secondary, $color-primary); 