$color-primary : #9356DC ;
$color-secondary :#FF79DA ;
$color-tertiary :#99E2D0 ;
$color-text: grey;
$color-link: black;
$color-box: rgb(17, 17, 17);
$color-li: white; 
$color-check: rgb(176, 231, 176);


$background-footer: #3b3b3b;
$background: #ECE9F9;
$background-location: #cccccc; 