$color-primary : #9356DC ;
$color-secondary :#FF79DA ;
$color-tertiary :#99E2D0 ;
$color-text: grey;
$color-link: black;
$color-box: rgb(17, 17, 17);
$color-li: white; 
$color-check: rgb(176, 231, 176);
$color-loader: #E2E2E2;
$color-choice: #f6d8ee;
$color-new:  #25997c;


$background-footer: #3b3b3b;
$background: #ECE9F9;
$background-location: #cccccc; 
$background-button:linear-gradient(170deg, $color-secondary, $color-primary); 